{% extends "layout.html" %}
{% block content %}
    <!-- {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %} -->
    <style>
      .menu {
          display: flex; /* Display child elements in a row */
          align-items: center; /* Center vertically */
          width: 100%; /* Takes up the full width of the screen */
      }
      
      .circle-container{
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
      }
      
      .circle {
          width: 200px;
          height: 200px;
          background-color: transparent;
          border: 5px solid #86A789;
          border-radius: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          margin-right: 20px; /* Add spacing between circles */
      }
      
      .image-container {
          width: 190px;
          height: 190px;
          border-radius: 50%;
          overflow: hidden;
          background-color: #D2E3C8;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          display: flex;
          justify-content: center;
          align-items: center;
      }
      
      .image-container img {
          max-width: 100%;
          max-height: 100%;
          border-radius: 50%;
      }
      
      .text-box {
          margin-top: 20px;
          font-size: 16px;
          color: #333;
          text-align: center;
          font-family: "Impact", fantasy;
          font-size: 16px; /* Adjust the font size as needed */
          color: #333; /* Specify the color for the labels */
          border-color: #61A3BA;
          border: 2px solid #333;
          border-radius: 5px;
          background-color: #F7EFE5;
      
          
      }
      
      </style>
      
      <body>
        <div class="menu">
          <div class="circle-container">
            <div class="circle">
                <div class="image-container">
                    <img src="{{url_for('static',filename='finder.jpg')}}" alt="Image 1">
                </div>
                
            </div> 
            <div class="text-box">
              
              <a href="{{ url_for('questionaire') }}">
                <button type="button">Friend Finder</button>
              </a>
          </div> 
          </div>
      
          <div class="circle-container">
            <div class="circle">
                <div class="image-container">
                    <img src="{{url_for('static',filename='blog.jpg')}}" alt="Image 2">
                </div>
            </div> 
            <div class="text-box">
              <a href="{{ url_for('blog') }}">
                <button type="button">Blog</button>
              </a>
          </div> 
          </div>
      
          <div class="circle-container">
            <div class="circle">
                <div class="image-container">
                    <img src="{{url_for('static',filename='chat.png')}}" alt="Image 3">
                </div>
            </div> 
            <div class="text-box">
              <a href="{{ url_for('chatroom_home') }}">
                <button type="button">Chatroom</button>
              </a>
          </div>
          </div>
      
          <div class="circle-container">
            <div class="circle">
                <div class="image-container">
                    <img src="{{url_for('static',filename='stress.png')}}" alt="Image 4">
                </div>
            </div>
            <div class="text-box">
              
              <button type="button">Stress Evaluator</button>
          </div> 
          </div>
      
        </div>
          
      </body>
      
      
{% endblock content %}