<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stress Test</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->
    <script src="script.js"></script>
</head>
<body>
    <div class="container">
        <h2>Questionnaire</h2>

        <div class="question">
            1. Little interest or pleasure in doing things
        </div>
        <div class="options" id="question1">
            <div class="option" data-value="1">Not Relatable</div>
            <div class="option" data-value="2">Minimally Relatable</div>
            <div class="option" data-value="3">Neutral</div>
            <div class="option" data-value="4">Moderately Relatable</div>
            <div class="option" data-value="5">Severely Relatable</div>
        </div>

        <div class="question">
            2. Feeling down, depressed, or hopeless
        </div>
        <div class="options" id="question2">
            <div class="option" data-value="1">Not Relatable</div>
            <div class="option" data-value="2">Minimally Relatable</div>
            <div class="option" data-value="3">Neutral</div>
            <div class="option" data-value="4">Moderately Relatable</div>
            <div class="option" data-value="5">Severely Relatable</div>
        </div>

        <div class="question">
            3. Trouble falling or staying asleep, or sleeping too much
        </div>
        <div class="options" id="question3">
            <div class="option" data-value="1">Not Relatable</div>
            <div class="option" data-value="2">Minimally Relatable</div>
            <div class="option" data-value="3">Neutral</div>
            <div class="option" data-value="4">Moderately Relatable</div>
            <div class="option" data-value="5">Severely Relatable</div>
        </div>

        <div class="question">
            4. Feeling tired or having little energy
        </div>
        <div class="options" id="question4">
            <div class="option" data-value="1">Not Relatable</div>
            <div class="option" data-value="2">Minimally Relatable</div>
            <div class="option" data-value="3">Neutral</div>
            <div class="option" data-value="4">Moderately Relatable</div>
            <div class="option" data-value="5">Severely Relatable</div>
        </div>

        <div class="question">
            5. Poor appetite or overeating
        </div>
        <div class="options" id="question5">
            <div class="option" data-value="1">Not Relatable</div>
            <div class="option" data-value="2">Minimally Relatable</div>
            <div class="option" data-value="3">Neutral</div>
            <div class="option" data-value="4">Moderately Relatable</div>
            <div class="option" data-value="5">Severely Relatable</div>
        </div>

        <div class="question">
            6. Feeling bad about yourself - or that you are a failure or have let yourself or your family down
        </div>
        <div class="options" id="question6">
            <div class="option" data-value="1">Not Relatable</div>
            <div class="option" data-value="2">Minimally Relatable</div>
            <div class="option" data-value="3">Neutral</div>
            <div class="option" data-value="4">Moderately Relatable</div>
            <div class="option" data-value="5">Severely Relatable</div>
        </div>

        <div class="question">
            7. Trouble concentrating on things, such as reading the newspaper or watching television
        </div>
        <div class="options" id="question7">
            <div class="option" data-value="1">Not Relatable</div>
            <div class="option" data-value="2">Minimally Relatable</div>
            <div class="option" data-value="3">Neutral</div>
            <div class="option" data-value="4">Moderately Relatable</div>
            <div class="option" data-value="5">Severely Relatable</div>
        </div>

        <div class="question">
            8. Moving or speaking so slowly that other people could have noticed or the opposite - being so fidgety or restless that you have been moving around a lot more than usual
        </div>
        <div class="options" id="question8">
            <div class="option" data-value="1">Not Relatable</div>
            <div class="option" data-value="2">Minimally Relatable</div>
            <div class="option" data-value="3">Neutral</div>
            <div class="option" data-value="4">Moderately Relatable</div>
            <div class="option" data-value="5">Severely Relatable</div>
        </div>

        <div class="question">
            9. Thoughts that you would be better off dead, or of hurting yourself
        </div>
        <div class="options" id="question9">
            <div class="option" data-value="1">Not Relatable</div>
            <div class="option" data-value="2">Minimally Relatable</div>
            <div class="option" data-value="3">Neutral</div>
            <div class="option" data-value="4">Moderately Relatable</div>
            <div class="option" data-value="5">Severely Relatable</div>
        </div>

        <div class="question">
            10. If you checked off any problems, how difficult have these problems made it for you at work, home, or with other people?
        </div>
        <div class="options" id="question10">
            <div class="option" data-value="1">Not Relatable</div>
            <div class="option" data-value="2">Minimally Relatable</div>
            <div class="option" data-value="3">Neutral</div>
            <div class="option" data-value="4">Moderately Relatable</div>
            <div class="option" data-value="5">Severely Relatable</div>
        </div>

        <br>

        <button id="submit-button" class="center-button">Submit</button>
    </div>

    
    <script src="script.js"></script>
</body>
</html>